{% extends "layout.html" %}
{% block content %}

<!-- <form action="">
  <select name="items">
    <option value="25">Отображать по 25</option>
    <option value="50">Отображать по 50</option>
    <option value="100">Отображать по 100</option>
   </select>
  <br><br>
  <input type="submit">
</form> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date/Time</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	{% for result in results %}
  	<tr>
  	  <td>{{ moment(result.date).format('LLL') }}</td>
      <td>{{ result.req_name }}</td>
      <td><a href="{{ url_for('search_results', req=result.req_name ) }}">Show results</a></td>
	</tr>
	{% endfor %}

  </tbody>

{% endblock  content %}
 
